<article class="todo">
    <div class="title">
        <span class="hide todo-id">{{id}}</span>
        <span>{{type}}</span>
        <span>{{title}}</span>
        <span>{{contents}}</span>
    </div>
    <div>
        <button type="submit" class="btn-edit">Edit</button>
        <button type="button" class="btn-delete">Delete</button>
    </div>
</article>