<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
    integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
  <title>Holiday Planner</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Holiday Planner</a>
      </h1>
      <br>
      <nav>
        <ul>
          <li>
            {{#if loggedIn}}
            <a href="/saved-recipes">My Recipes</a>
          </li>
          <li>
            <button id="logout" class="btn-no-style nav">Logout</button>
            {{/if}}
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}


</body>

</html>