<section>
    <h2>Create New Task</h2>

    <form class="new-todo-form">
        <div>
            <label for="type">What type of Task is this?</label>
            <select name="type" id="type">
                <option value="general">General</option>
                <option value="present">Present</option>
                <option value="event">Event</option>
            </select>
        </div>
        <div>
            <label for="todo-title">Title</label>
            <input type="text" id="todo-title" name="todo-title" />
        </div>
        <div>
            <label for="todo-contents">Contents</label>
            <input id="todo-contents" name="todo-contents" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<ol class="todo-list">
    {{#each todos as |todo|}}
    <li>
        {{> todo-info todo}}
    </li>
    {{/each}}
</ol>

<script src="/javascript/add-todo.js"></script>