<ol class="post-list">
    <li>
        <article class="post">
            <!-- To Do List Title -->
            <div class="title">

            </div>
            <!-- Body -->
            <div class="meta">

            </div>
        </article>
    </li>
</ol>