<a href="/search-recipes">Search For New Recipe</a>

{{#if recipeResults.length}}
<section>
  <h2>Search Results</h2>
  <ul>
    {{#each recipeResults as |recipe|}}
    <li>
      <article class="recipe-result">
        <a href="{{recipe.recipe.url}}" target="_blank">{{recipe.recipe.label}}</a>
      
      <button>Delete Recipe</button>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}


<script src="/javascript/search-recipes.js"></script>