<div class="card" id="searchCard">
  <h2>Search For a Recipe:</h2>
  <form class="input-group" id="recipe-form">
    <input class="input-group-field" type="text" id="search-term" name='search-term'>
    <button class="button input-group-button" value="Submit" id="recipes-btn" type="submit">
      Search
    </button>
  </form>
</div>
<div class="section-header"><span id="result-header"></div>
<div id="recipe-container"></div>


<script src="/javascript/search-recipes.js"></script>