* {
    box-sizing: border-box;
  }
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}
  
a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
}
  
a:hover {
    color: #3486eb;
}
  
button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: #3486eb;
}
  
.post-list {
    margin: 0;
    padding: 0;
}
  
textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}
  
textarea {
    min-width: 40%;
    min-height: 100px;
}
  
form > div {
    margin-bottom: 2%;
}
  
form label {
    display: block;
}
  
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  
header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    justify-content: center;
}
  
header h1 {
    font-size: 50px;
    display: flex;
}
  
main {
    flex: 1;
    padding: 2% 4%;
}

.result-header {
    font-size: 20px;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
}

.recipe-card {
    margin: 10px auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.recipe-ingredients {
    list-style: none;
    text-align: center;
    margin: auto;
    padding: 0;
}

.recipe-card a {
    display: flex;
    flex-direction: column;
}

.delete-recipe-btn {
    font-size: 10px;
    margin: 15px 0;
}

#saved-recipes {
    list-style: none;
}

.recipe-line {
    padding: 10px 5px;
}

.recipe-line a {
    font-size: 30px;
}

.recipe-url {
    font-style: italic;
    font-size: 14px;
    margin: auto;
}
  
footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 150%;
}

